html,
body,
header,
section,
div,
#banniere,
.row,
figure,
iframe,
img,
footer,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1 {
  color: darkseagreen;
  font-size: 1.8em;
}

h2 {
  color: darkslategray;
  font-size: 1.5em;
}

h3 {
  color: darkslategray;
  font-size: 1em;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
}

.row{
  display: flex;
}

.centrer {
  justify-content: center;
}

.container {
  max-width: 60%;
}

.space-10 {
  margin-top: 10px;
}
.space-20 {
  margin-top: 20px;
}
.space-30 {
  margin-top: 30px;
}
.space-50 {
  margin-top: 50px;
}
.space-60 {
  margin-top: 60px;
}
.space-80 {
  margin-top: 80px;
}
.space-100 {
  margin-top: 100px;
}
.space-150 {
  margin-top: 150px;
}


.separation {
  border-bottom: 3px yellow solid;
}

/******************************BANNIERE*********************************************/

#banniere {
  background-size: auto 100%;
  height: 600px;
}

.ban-accueil {
  background-image: url("https://elrihaz.github.io/script-killer/images/ban-accueil.jpg");
}

.ban-bienvenue {
  background-image: url("https://elrihaz.github.io/script-killer/images/ban-bienvenue.jpg");
}

.ban-croque {
  background-image: url("https://elrihaz.github.io/script-killer/images/ban-croque.jpg");
}

.ban-collabo {
  background-image: url("https://elrihaz.github.io/script-killer/images/ban-collabo.jpg");
}

.ban-audio {
  background-image: url("https://elrihaz.github.io/script-killer/images/ban-audio.gif");
}


/******************************NAVIGATION*******************************************/

ul {
  display: flex;
  align-items: center;
  margin-top: -62px;
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#SK {
  padding: 5px;
}

ul li {
  height: 62px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

ul li.active,
ul li:hover,
ul li.active:hover {
  color: black;
  background-color: aquamarine;
  border-bottom: 3px black solid;
  /*transition: 0.6s;*/
}


/****************************SECTION************************************************/

.fond-noir {
  background-color: black;
}

.fond-gris {
  background-color: grey;
}

.fond-blanc {
  background-color: white;
}


/*************************BAS DE PAGE**************************/

footer {
  height: 220px;
  background-color: #32333B;
}


/**************************************************************/


/* Media Queries */

@media (max-width: 680px) {
  .menu {
    float: none;
    margin: 0 auto;
  }
}
